<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
   <h1>Welcome to my gossite !</h1>
    <p>IL n'y a pas encore de potins mais <a href = "/gossips/new/">entrer ici pour creer de nouveau potins<a>.<p>
  </body>
</html>